<% include .././partials/header %>


    <!-- <div>
        <% if(noMatch !== null) { %>
        <h3><%= noMatch %></h3>
        <p>
        <form action="/designs" method="GET" class="form-inline">
            <div class="form-group">
                <input type="text" name="search" placeholder="design search..." >
                <input type="submit" value="Search">
            </div>
        </form>
        </p>
        <% } %>
    </div> -->

<div class="card-deck p-5">

    <% designs.forEach(function(design){ %>

        <div class="card bg-light" >
            <div class="card-header">
                ID: <%= design.sharepointid %> / SO: <%= design.so %>
            </div>
            <div class="card-body">
                
                <h6 class="mb-2 text-muted">Head type: <%= design.headtype %> <%= design.apwidth %> X <%= design.apheight %></h6>
                <p></p>
                <h6 class="mb-2 text-muted">Conveyor type: <%= design.type %> <%= design.systemtype %> <%= design.reject %> <%= design.belttype %> </h6>
               
               
                
                <!-- <p><%= design.region %></p>
                <p><%= design.sharepointid %></p>
               
                <p></p>
                <p><%= design.moagent %></p>
                <p><%= design.enduser %></p>
                <p></p>
                <p><%= design.notes %></p>
                
                
                <p></p>
                <p></p>
                <p></p>
                <p><%= design.convheight %></p>
                <p></p>
                <p><%= design.handing %></p>
                <p></p>
                <p><%= design.product %></p>
                <p><%= design.packaging %></p>
                <p></p>
                <p><%= design.sapnum %></p>
                <p><%= design.author.username %></p> -->
                
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    Designed by <%= design.engineer %> on <%= design.date.toDateString() %> <a href="/designs/<%= design._id %>" class="card-link">Click here for more info</a>
                </small>
            </div>
        </div>
    <% }) %>
</div>

<% include .././partials/footer %>