<% include .././partials/header %>
<% if(messages.logout) { %>
<div class="alert alert-info" role="alert">
    <%= messages.logout %>        
</div>    
<% } %>   

<% if(messages.image) { %>
    <div class="alert alert-info" role="alert">
        <%= messages.image %>        
    </div>    
    <% } %> 


<% if(noMatch !== null) { %>  
    <div class="alert alert-danger text-center" role="alert"> 
           
    <h2><%= noMatch %></h2> 
    <% } %>
    </div>
<div class="container-fluid" id="index-container">
    <div class="row">
            <% designs.forEach(function(design){ %>
        <div class="col-xl-3 col-lg-6 p-4">
                <div class="card bg-light " id="card-index" >
                    <div class="card-header" id="card-header">
                     ID: <%= design.sharepointid %> / SO: <%= design.so %>
                    </div>
                    <div class="card-body text-center" id="card-body">
                    <h6 class="mb-2 text-muted">Head type: </h6>
                    <p>
                        <%= design.headtype %> <%= design.apwidth %> X <%= design.apheight %>
                    </p>
                    <h6 class="mb-2 text-muted">Conveyor type:  </h6>
                    <p>
                        <%= design.type %> <%= design.systemtype %> <%= design.reject %> <%= design.belttype %>
                    </p>
                    </div>       
                    <div class="card-footer" id="card-footer">
                        <small  id="card-footer-text">
                            Designed by: <%= design.engineer %> on [<%= design.date.toDateString() %>]
                        </small>
                        <p></p> 
                        <div class="text-center"> 
                        <a href="/designs/<%= design._id %>" class="btn btn-outline-light btn-sm " >Click here for more info</a>
                        <a href="/uploads" class="btn btn-outline-success btn-sm" >Add files</a>
                        </div>
                    </div>
                </div>
                
        </div>    
        <% }) %>
    </div>
   
</div>    

<% include .././partials/footer %>