<% include .././partials/header %>
    <div class="ui main text container segment">
         <div class="ui huge header">Design details</div>
        <div class="top attached segment">
        <p><%= design.sharepointid %></p>
        <p><%= design.type %></p>
        <p><%= design.moagent %></p>
        <p><%= design.enduser %></p>
        <p><%= design.systemtype %></p>
        <p><%= design.notes %></p>
        <%= design.date %>
        <p><%= design.engineer %></p>
        <p><%= design.headtype %></p>
        <p><%= design.apwidth %></p>
        <p><%= design.apheight %></p>
        <p><%= design.convheight %></p>
        <p><%= design.convlength %></p>
        <p><%= design.handing %></p>
        <p><%= design.belttype %></p>
        <p><%= design.product %></p>
        <p><%= design.packaging %></p>
        <p><%= design.designid %></p>
        <p><%= design.sapnum %></p>
        </div>
        <% if(!currentUser){%>
        
        <% } else { %>
        <a class="ui orange basic button" href="/designs/<%= design.id %>/edit">EDIT</a>
        <form class="ui form" action="/designs/<%= design._id %>?_method=DELETE" method="POST">
        <button class="ui red medium basic button">DELETE</button>
        <% } %>
        </form>
        <% design.comments.forEach(function(comment){ %>
            <p><%= comment.author %> -- <%= comment.text %></p>
        <% }) %>
    
    </div>
    
    <% include .././partials/footer %>